<div class="featured__item">
    <div class="featured__item__pic set-bg" [style.background-image]="'url('+imageurl+item.image.url+')'">
        <ul class="featured__item__pic__hover">
            <li><a><i class="fa fa-heart" title="Add To WishList"></i></a></li>
            <li><a><i class="fa fa-eye" title="View Product"></i></a></li>
            <li><a (click)="addItemToCart()" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
    </div>
    <div class="featured__item__text">
        <h6><a [routerLink]="['/shop', item.id]">{{item.name}}</a></h6>
        <h5>{{item.price | currency:"INR"}}</h5>
    </div>
</div>