<div class="featured__item">
    <div class="featured__item__pic set-bg" [style.background-image]="'url('+imageurl+item.attributes.image.data.attributes.url+')'">
        <ul class="featured__item__pic__hover">
            <li><a><i class="fa fa-heart"></i></a></li>
            <li><a><i class="fa fa-retweet"></i></a></li>
            <li><a (click)="addItemToCart()"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
    </div>
    <div class="featured__item__text">
        <h6><a href="#">{{item.attributes.name}}</a></h6>
        <h5>{{item.attributes.price | currency:"INR"}}</h5>
    </div>
</div>