<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <cdk-accordion>
                        <cdk-accordion-item
                          *ngFor="let item of items; let index = index;"
                          #accordionItem="cdkAccordionItem" [expanded]=true>
                          <div class="hero__categories__all" (click)="accordionItem.toggle()">
                            <i class="fa fa-bars"></i>
                            {{ item }}
                          </div>
                          <div
                            [style.display]="accordionItem.expanded ? '' : 'none'">
                            <categories-menu></categories-menu>
                          </div>
                        </cdk-accordion-item>
                      </cdk-accordion>
                    
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories ps-0 pt-0">
                                <select class="form-select border-0" style="height:48px" aria-label="Default select example">
                                    <option *ngFor="let category of categories;">{{category.name}}</option>
                                </select>
                            </div>
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
                <app-content-top></app-content-top>
                <!-- <app-banner location="home"></app-banner> -->
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">     
             <div class="categories__slider">
                 <categories-slider></categories-slider>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<featured-products></featured-products>
<!-- Featured Section End -->

<!-- Banner Begin -->
<app-content-bottom></app-content-bottom>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <!-- <app-banner location="homebottom1"></app-banner> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <!-- <app-banner location="homebottom2"></app-banner> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- Latest Product Section Begin -->
<!-- <section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Latest Products</h4>
                      <productlisting location="smallslider" type="latest"></productlisting>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Top Rated Products</h4>
                      <productlisting location="smallslider" type="top"></productlisting>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Review Products</h4>
                    <productlisting location="smallslider" type="topreview"></productlisting>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Latest Product Section End -->
